@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "@mantine/core/styles.layer.css";

@plugin "@iconify/tailwind4";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .grow-1 {
    flex-grow: 1;
  }
  .grow-2 {
    flex-grow: 2;
  }
  .grow-3 {
    flex-grow: 3;
  }
}

.noiseFine {
  /* ... */
  background: url(/src/assets/noiseFine.svg);
  filter: contrast(100%) brightness(100%);
}

.noise {
  /* ... */
  background: url(/src/assets/noise.svg);
  filter: contrast(100%) brightness(100%);
}

.proofread-suggestion {
  display: none;
}

.ProseMirror {
  overflow-wrap: break-word;
  text-wrap: wrap;
  white-space-collapse: break-spaces;
  font-variant-ligatures: none;
}

.ProseMirror.virtual-cursor-enabled {
  /* Hide the native cursor */
  caret-color: transparent;
}

.ProseMirror-focused {
  /* Color of the virtual cursor */
  --prosemirror-virtual-cursor-color: red;
}

.ProseMirror .prosemirror-virtual-cursor {
  position: absolute;
  cursor: text;
  pointer-events: none;
  transform: translate(-1px);
  user-select: none;
  -webkit-user-select: none;
  border-left: 2px solid var(--prosemirror-virtual-cursor-color);
}

.ProseMirror .prosemirror-virtual-cursor-left {
  width: 1ch;
  transform: translate(calc(-1ch + -1px));
  border-bottom: 2px solid var(--prosemirror-virtual-cursor-color);
  border-right: 2px solid var(--prosemirror-virtual-cursor-color);
  border-left: none;
}

.ProseMirror .prosemirror-virtual-cursor-right {
  width: 1ch;
  border-bottom: 2px solid var(--prosemirror-virtual-cursor-color);
  border-left: 2px solid var(--prosemirror-virtual-cursor-color);
  border-right: none;
}

.ProseMirror-focused .prosemirror-virtual-cursor-animation {
  animation: prosemirror-virtual-cursor-blink 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes prosemirror-virtual-cursor-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@layer base {
  :root {
    --uiScale: 0.9;

    --appBackground: 0 0% 8.9%;
    --appLayoutBorder: 0 0% 14.9%;
    --appLayoutText: 0 0% 80%;
    --appLayoutTextMuted: 0 0% 50%;
    --appLayoutShadow: 0 0% 0%;
    --appLayoutGentleShadow: 0 0% 3%;
    --appLayoutHover: 0 0% 6.9%;
    --appLayoutHoverLight: 0 0% 8.3%;
    --appLayoutInverseHover: 0 0% 13.9%;
    --appLayoutInputBackground: 0 0% 14.9%;
    --appLayoutPressed: 0 0% 3%;
    --appLayoutDestruct: 0 62.8% 30.6%;
    --appLayoutDirectoryNodeHover: 0 0% 100% / 15%;
    --specialButton: 0 0% 90%;
    --specialButtonHover: 0 0% 60%;
    --specialButtonDisabled: 0 0% 50%;
    --activitySelectLine: 0 0% 100%;
    --validationErrorText: 0 45% 41%;
    --sidePanelDragHandle: 0 0% 100% / 15%;
  }
  .dark {
    --appBackground: 0 0% 8.9%;
    --appBackgroundAccent: 0 0% 6.9%;
    --appBackgroundAccentTransient: 0, 0%, 6.9%, 50%;
    --appLayoutBorder: 0 0% 16.9%;
    --appLayoutText: 0 0% 80%;
    --appLayoutShadow: 0 0% 0%;
    --appLayoutGentleShadow: 0 0% 3%;
    --appLayoutHover: 0 0% 15%;
    --appLayoutDarkHover: 0 0% 3.9%;
    --appLayoutInverseHover: 0 0% 20%;
    --appLayoutInputBackground: 0 0% 14.9%;
    --appLayoutPressed: 0 0% 3%;
    --appLayoutDestruct: 0 90% 38%;
    --appLayoutHighlight: 0 0% 100%;
    --activitySelectLine: 0 0% 100%;
    --appLayoutSubmitButton: 0 0% 80%;
  }
  .desktop {
    --libraryManagerNodeIconSize: calc(var(--uiScale) * 1.6rem);
    --libraryManagerHeaderHeight: calc(var(--uiScale) * 4rem);
    --detailsPanelHeaderHeight: calc(var(--uiScale) * 3rem);
    --actionBarHeight: calc(var(--uiScale) * 2.4rem);
    --actionBarLogoSize: calc(var(--uiScale) * 1.8rem);
    --actionBarButtonIconSize: calc(var(--uiScale) * 1.4rem);
    --actionBarSearchWidth: calc((1 / sqrt(var(--uiScale))) * 35rem);
    --actionBarSearchTextSize: calc(var(--uiScale) * 1.1rem);
    --actionBarResultTextSize: calc(var(--uiScale) * 1rem);
    --actionBarSearchMaxHeight: calc(40rem);
    --actionBarSearchHeaderHeight: calc(var(--uiScale) * 2rem);
    --actionBarSearchFooterHeight: calc(var(--uiScale) * 0.4rem);
    --actionBarResultHeaderTextSize: calc(var(--uiScale) * 1rem);
    --actionBarResultNodeHeight: calc(var(--uiScale) * 1.75rem);
    --actionBarWindowButtonIconSize: calc(var(--uiScale) * 1.3rem);
    --actionBarResultDateFontSize: calc(var(--uiScale) * 1rem);
    --recentlyOpenedNodeFontSize: calc(var(--uiScale) * 1.5rem);
    --recentlyOpenedDateFontSize: calc(var(--uiScale) * 1rem);
    --actionBarLogoHeight: calc(var(--uiScale) * 2.65rem);

    --scrollbarWidth: calc(
      var(--uiScale) *
        (
          0.75rem + var(--libraryManagerAddButtonSize) / 2 -
            var(--libraryDirectoryBookNodeIconSize) / 2
        )
    );

    --footerHeight: calc(var(--uiScale) * 1.3rem);
    --ZoomButtonWidth: calc(var(--uiScale) * 2.5rem);
    --ZoomIconSize: calc(var(--uiScale) * 1.2rem);
    --ZoomDisplayWidth: calc(var(--uiScale) * 3.5rem);
    --ZoomDisplayFontSize: calc(var(--uiScale) * 0.9rem);

    --libraryDirectoryHeaderHeight: calc(var(--uiScale) * 4.5rem);

    --activityBarWidth: calc(var(--uiScale) * 4rem);
    --activityBarHeight: calc(var(--uiScale) * 3.3rem);
    --activityButtonHeight: calc(var(--uiScale) * 4rem);
    --sidePanelWidth: calc(var(--uiScale) * 20rem);
    --activityBarIconSize: calc(var(--uiScale) * 1.9rem);
    --activityBarFontSize: calc(var(--uiScale) * 1.2rem);

    --libraryManagerHeaderText: calc(var(--uiScale) * 1.2rem);

    --homePanelHeaderHeight: calc(var(--uiScale) * 6rem);
    --homePanelHeaderFontSize: calc(var(--uiScale) * 4rem);
    --homePanelSubtitleFontSize: calc(var(--uiScale) * 1.5rem);

    --detailsPanelHeaderHeight: calc(var(--uiScale) * 4.5rem);
    --detailsPanelNameFontSize: calc(var(--uiScale) * 2rem);
    --detailsPanelHeaderTwoHeight: calc(var(--uiScale) * 3rem);
    --detailsPanelHeaderTwoFontSize: calc(var(--uiScale) * 1.5rem);
    --detailsPanelPropsFontSize: calc(var(--uiScale) * 1.2rem);
    --detailsPanelPropLabelFontSize: calc(var(--uiScale) * 1.15rem);
    --detailsPanelPropLabelHeight: calc(var(--uiScale) * 2.4rem);
    --detailsPanelSaveButtonFontSize: calc(var(--uiScale) * 1.2rem);
    --detailsPanelDescriptionInputHeight: calc(var(--uiScale) * 15rem);
    --detailsPanelWidth: calc(var(--uiScale) * 60rem);

    --authInputHeight: calc(var(--uiScale) * 4rem);
    --authButtonSize: calc(var(--uiScale) * 1.6rem);
    --authButtonLoadingSize: calc(var(--uiScale) * 1.5rem);

    --libraryManagerNodeHeight: calc(var(--uiScale) * 3rem);
    --libraryManagerNodeText: calc(var(--uiScale) * 1rem);
    --libraryManagerNodeIconSize: calc(var(--uiScale) * 1.7rem);
    --libraryManagerAddButtonSize: calc(var(--uiScale) * 2.15rem);
    --libraryManagerNodeEditButtonWidth: calc(var(--uiScale) * 2rem);

    --libraryDirectoryBookNodeHeight: calc(var(--uiScale) * 2.2rem);
    --libraryDirectoryPaperNodeHeight: calc(var(--uiScale) * 2.2rem);
    --libraryDirectorySectionNodeHeight: calc(var(--uiScale) * 2.2rem);

    --libraryDirectoryBookNodeFontSize: calc(var(--uiScale) * 1rem);
    --libraryDirectoryPaperNodeFontSize: calc(var(--uiScale) * 1rem);
    --libraryDirectorySectionNodeFontSize: calc(var(--uiScale) * 1rem);

    --libraryDirectoryBookNodeIconSize: calc(var(--uiScale) * 1.1rem);
    --libraryDirectoryPaperNodeIconSize: calc(var(--uiScale) * 1.1rem);
    --libraryDirectorySectionNodeIconSize: calc(var(--uiScale) * 1.1rem);

    --templateDetailsPanelDeviceHeaderHeight: calc(var(--uiScale) * 4rem);
    --templateDetailsPanelSectionHeaderHeight: calc(var(--uiScale) * 4rem);
    --templateDetailsPreferenceInputHeight: calc(var(--uiScale) * 2.7rem);
    --templateDetailsPreferenceLabelWidth: calc(var(--uiScale) * 15rem);
    --templateDetailsPreferencesColorInputSize: calc(var(--uiScale) * 1.8rem);
    --templateDetailsPanelPreferenceFontSize: calc(var(--uiScale) * 1.2rem);
    --templateDetailsPanelPreferenceInputFontSize: calc(
      var(--uiScale) * 1.2rem
    );

    --loadingSpinnerSize: calc(var(--uiScale) * 12rem);

    --optionsDropdownWidth: calc(var(--uiScale) * 14rem);
    --optionsDropdownOptionHeight: calc(var(--uiScale) * 2rem);
    --optionsDropdownOptionFont: calc(var(--uiScale) * 0.9rem);
    --optionsDropdownIconHeight: calc(var(--uiScale) * 1.3rem);

    --userPlanDisplayHeight: calc(var(--uiScale) * 3rem);

    --fontContainerHeight: calc(var(--uiScale) * 15rem);
    --fontAddButtonSize: calc(var(--uiScale) * 2rem);
    --fontItemHeight: calc(var(--uiScale) * 3rem);

    --libraryDetailsActionButtonHeight: calc(var(--uiScale) * 6rem);
    --libraryDetailsActionButtonWidth: calc(var(--uiScale) * 12rem);
    --libraryDetailsActionButtonIconSize: calc(var(--uiScale) * 3rem);
    --libraryDetailsActionButtonFontSize: calc(var(--uiScale) * 0.9rem);

    --templateContentEditorHeaderHeight: calc(var(--uiScale) * 4rem);
    --templateContentEditorHeaderPreferenceHeight: calc(var(--uiScale) * 4rem);
    --templateContentEditorHeaderGroupHeight: calc(var(--uiScale) * 3rem);
  }
  .mobile {
    --libraryManagerNodeHeight: 7rem;
    --libraryManagerNodeIconSize: 2rem;
    --libraryManagerHeaderHeight: 3.5rem;
    --detailsPanelHeaderHeight: 3.5rem;

    --actionBarHeight: 2rem;
    --actionBarLogoSize: 7rem;

    --activityBarWidth: 4.5rem;
    --activityBarHeight: 3.3rem;
    --activityButtonHeight: 4.5rem;
    --sidePanelWidth: 10rem;
    --activityBarIconSize: 2.2rem;
    --activityBarFontSize: 1.2rem;

    --libraryManagerHeaderText: 1.4rem;
    --libraryManagerHeaderHeight: 4rem;

    --detailsPanelHeaderHeight: 4rem;
    --detailsPanelNameFontSize: 1.4rem;
    --detailsPanelPropsFontSize: 1.2rem;
    --detailsPanelPropLabelFontSize: 1rem;
    --detailsPanelPropLabelHeight: 1.5rem;
    --detailsPanelSaveButtonFontSize: 1.2rem;
    --detailsPanelDescriptionInputHeight: 15rem;

    --authInputHeight: 4rem;
    --authButtonSize: 1.6rem;
    --authButtonLoadingSize: 1.5rem;

    --libraryManagerNodeHeight: 4rem;
    --libraryManagerNodeText: 1 25rem;
    --libraryManagerNodeIconSize: 2rem;
    --libraryManagerAddButtonSize: 2.5rem;
    --libraryManagerNodeEditButtonWidth: 2.5rem;

    --libraryDirectoryBookNodeHeight: 2.6rem;
    --libraryDirectoryPaperNodeHeight: 2.6rem;
    --libraryDirectorySectionNodeHeight: 2.6rem;

    --libraryDirectoryBookNodeFontSize: 1.2rem;
    --libraryDirectoryPaperNodeFontSize: 1.2rem;
    --libraryDirectorySectionNodeFontSize: 1.2rem;

    --libraryDirectoryBookNodeIconSize: 2rem;
    --libraryDirectoryPaperNodeIconSize: 2rem;
    --libraryDirectorySectionNodeIconSize: 2rem;

    --templateDetailsPanelDeviceHeaderHeight: 4rem;
    --templateDetailsPanelSectionHeaderHeight: 4rem;
    --templateDetailsPreferenceInputHeight: 2.7rem;
    --templateDetailsPreferenceLabelWidth: 15rem;
    --templateDetailsPreferencesColorInputSize: 1.8rem;
    --templateDetailsPanelPreferenceFontSize: 1.2rem;
    --templateDetailsPanelPreferenceInputFontSize: 1.2rem;

    --loadingSpinnerSize: 7.5rem;

    --optionsDropdownWidth: 12rem;
    --optionsDropdownOptionHeight: 2.5rem;
    --optionsDropdownOptionFont: 1.2rem;
  }
}
@layer components {
  .contextMenuContent,
  .contextMenuSubContent {
    @apply min-w-[var(--optionsDropdownWidth)] 
           bg-appBackground 
           border border-appLayoutBorder 
           rounded-md 
           overflow-hidden 
           p-1 
           shadow-2xl shadow-appLayoutGentleShadow;
  }

  .contextMenuItem,
  .contextMenuCheckboxItem,
  .contextMenuRadioItem,
  .contextMenuSubTrigger {
    @apply text-[length:var(--optionsDropdownOptionFont)]
           text-appLayoutText 
           hover:bg-appLayoutInverseHover 
           rounded-sm 
           flex items-center 
           h-[var(--optionsDropdownOptionHeight)] 
           py-1 px-2 
           justify-start gap-2 
           relative 
           select-none 
           outline-none;
  }

  .contextMenuItem[data-disabled],
  .contextMenuCheckboxItem[data-disabled],
  .contextMenuRadioItem[data-disabled] {
    @apply text-appLayoutText pointer-events-none;
  }

  .contextMenuLabel {
    @apply text-[length:var(--optionsDropdownOptionFont)]
           text-appLayoutTextMuted 
           rounded-sm 
           flex items-center 
           h-[var(--optionsDropdownOptionHeight)] 
           py-1 px-2 
           justify-start gap-2 
           relative 
           select-none 
           outline-none;
  }

  .contextMenuSeparator {
    @apply h-px bg-appLayoutBorder m-px;
  }

  .rightSlot {
    @apply ml-auto pl-5 text-appLayoutText;
  }

  [data-highlighted] > .rightSlot {
    @apply text-appLayoutText;
  }

  [data-disabled] .rightSlot {
    @apply text-appLayoutText;
  }
}

:root {
  --start-content-width: 40rem;
}

.ProseMirror:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

*::-webkit-scrollbar {
  display: fixed;
  width: var(--scrollbarWidth);
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
  background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #262626;
  border-radius: 5px;
}

/* ******************* Libaries Page ******************

#LibraryDirectoryContent {
  scrollbar-gutter: stable;
} */

@keyframes blink {
  0%,
  35%,
  65%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
